<div class="row mb-4">
  <div class="text-center var-text-light custom-border-lg custom-bg-green3 custom-inline col-8 m-2">
    <div>
      <h2 class="custom-text-xl">☕ Welcome to GiftPot! ☕</h2>
    </div>
    <div>
      <h3 class="custom-text-md">Brewing smiles, One gift at a time!</h3>
    </div>
  </div>
  <div class="col-3 align-content-center" id="main-login-div">
    <a href="/signup">
      <button class="btn" id="main-login-btns">Sign Up</button>
    </a>
    <a href="/login">
      <button class="btn" id="main-login-btns">Login</button>
    </a>
  </div>
</div>
<div class="row">
  <div class="custom-border m-2 col-3" id="img-container">
    <img class="main-menu-img" src="/assets/images/Gift1.png" alt="A wrapped gift with a red bow and tea leaves on the wrapping paper">
  </div>
  <div class="custom-border m-2 col-8 custom-bg-green4">
    <h4 class="var-text-light custom-text-lg custom-underline">About us</h4>
    <p class="var-text-light custom-text-md">At GiftPot, we believe that every occasion deserves a touch of personalized charm. Whether it's a birthday, anniversary, or a special holiday, your wishlist should reflect your unique taste. That's why we've brewed up the perfect platform for you to create and share your dream gift lists with friends and family!</p>
  </div>
</div>
<div class="row">
  <div class="custom-border m-2 col-8 custom-bg-green4">
    <h4 class="var-text-light custom-text-lg custom-underline">How it works</h4>
    <p class="var-text-light custom-text-md">First, you Create a New List, then you specify the event/holiday name and its date. Then, you add items and their quantity that you have in mind! Just be sure to include a link to a webpage that you can buy it from. Once your list is full, you can share it with your friends, family, co-workers, whoever is asking!</p>
  </div>
  <div class="custom-border m-2 col-3" id="img-container">
    <img class="main-menu-img" src="/assets/images/Gift2.png" alt="A wrapped gift with a green bow and tea leaves on the wrapping paper">
  </div>
</div>

{{!-- ! Code to display all lists from all accounts --}}
{{!-- {{#each lists as |list| }}
<div class="row mb-4 list">
  <div class="col-md-5">
    <h2>
      <a href="/list/{{list.id}}">{{list.name}}</a>
    </h2>
    <p>{{list.user.name}}'s GiftPot created on {{format_date list.date_created}}</p>
  </div>
  <div class="col-md-7">
    <p>
      {{list.description}}
    </p>
  </div>
</div>
{{/each}} --}}
