{{#each lists as |list| }}
<div class="row mb-4 list">
  <div class="col-md-5">
    <h2>
      <a href="/list/{{list.id}}">{{list.name}}</a>
    </h2>
    <p>{{list.user.name}}'s GiftPot created on {{format_date list.date_created}}</p>
  </div>
  <div class="col-md-7">
    <p>
      {{list.description}}
    </p>
  </div>
</div>
{{/each}}
